# Python build artifacts
dist/
build/
*.egg-info/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Test artifacts
.pytest_cache/

# VS Code settings
.vscode/

# macOS system file
.DS_Store
